
{% macro build_param_str(plugin, param) %}
<td>
    <label for="param-{{ plugin.id }}-{{ param.name }}-input">{{ param.name }}: </label>
</td>
<td>
    <input type="text" id="param-{{ plugin.id }}-{{ param.name }}-input" value="{{ plugin.params[param.name] }}">
</td>
<td>
    <button onclick="saveParam('{{ plugin.id }}', '{{ param.name }}')">save</button>
</td>
<td>
    <span id="param-{{ plugin.id }}-{{ param.name }}-saved"></span>
</td>
{% endmacro %}

{% macro build_param_bool(plugin, param) %}
<td>
    <label for="param-{{ plugin.id }}-{{ param.name }}-input">{{ param.name }}: </label>
</td>
<td>
    <input type="checkbox" id="param-{{ plugin.id }}-{{ param.name }}-input"{% if plugin.params[param.name] %} checked{% endif %}>
</td>
<td>
    <button onclick="saveParam('{{ plugin.id }}', '{{ param.name }}')">save</button>
</td>
<td>
    <span id="param-{{ plugin.id }}-{{ param.name }}-saved"></span>
</td>
{% endmacro %}

{% macro build_param_num(plugin, param) %}
<td>
    <label for="param-{{ plugin.id }}-{{ param.name }}-input">{{ param.name }}: </label>
</td>
<td>
    <input type="number" id="param-{{ plugin.id }}-{{ param.name }}-input" value="{{ plugin.params[param.name] }}"{% if param.min is not none %} min={{ param.min }}{% endif %}{% if param.max is not none %} max={{ param.max }}{% endif %} step={{ param.step }}>
</td>
<td>
    <button onclick="saveParam('{{ plugin.id }}', '{{ param.name }}')">save</button>
</td>
<td>
    <span id="param-{{ plugin.id }}-{{ param.name }}-saved"></span>
</td>
{% endmacro %}

<!-- {% macro build_param_list(plugin, param) %}
<td>
    <label for="param-{{ plugin.id }}-{{ param.name }}-input">{{ param.name }}: </label>
</td>
<td>
    <input type="text" id="param-{{ plugin.id }}-{{ param.name }}-input" value="{{ plugin.params[param.name] }}">
</td>
<td>
    <button onclick="saveParam('{{ plugin.id }}', '{{ param.name }}')">save</button>
</td>
<td>
    <span id="param-{{ plugin.id }}-{{ param.name }}-saved"></span>
</td>
{% endmacro %} -->

<!-- {% macro build_param_complex(plugin, param) %}
<td>
    <label for="param-{{ plugin.id }}-{{ param.name }}-input">{{ param.name }}: </label>
</td>
<td>
    <input type="text" id="param-{{ plugin.id }}-{{ param.name }}-input" value="{{ plugin.params[param.name] }}">
</td>
<td>
    <button onclick="saveParam('{{ plugin.id }}', '{{ param.name }}')">save</button>
</td>
<td>
    <span id="param-{{ plugin.id }}-{{ param.name }}-saved"></span>
</td>
{% endmacro %} -->

{% macro build_plugin_settings(plugin) %}
<div id="plugin-settings-{{ plugin.id }}" class="plugin-settings floating">
    <table>
        {% for param in plugin.__paramschema__ %}
        <tr>
            {% if param.__paramtype__ == "str" %}
                {{ build_param_str(plugin, param) }}
            {% elif param.__paramtype__ == "bool" %}
                {{ build_param_bool(plugin, param) }}
            {% elif param.__paramtype__ == "num" %}
                {{ build_param_num(plugin, param) }}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endmacro %}

{% macro build_plugin_size(plugin) %}
<div id="plugin-size-{{ plugin.id }}" class="plugin-size floating">
    <table>
        {% for size in plugin.__sizes__ %}
        <tr>
            {% if size == 1 %}
                <button onclick="saveSize('{{ plugin.id }}', 1)">Small</button>
            {% elif size == 2 %}
                <button onclick="saveSize('{{ plugin.id }}', 2)">Wide</button>
            {% elif size == 3 %}
                <button onclick="saveSize('{{ plugin.id }}', 3)">Tall</button>
            {% elif size == 4 %}
                <button onclick="saveSize('{{ plugin.id }}', 4)">Big</button>
            {% elif size == 5 %}
                <button onclick="saveSize('{{ plugin.id }}', 5)">Full</button>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endmacro %}

{% macro build_plugin(plugin) %}
<div id="plugin-{{ plugin.id }}" class="plugin plugin-size-{{ plugin.size }}">
    <div class="plugin-header">
        <h4 class="plugin-header-item">{{ plugin.__pluginname__ }}</h4>
        <button class="plugin-header-item" onclick="showPluginSettings('{{ plugin.id }}')">settings</button>
        {% if plugin.__sizes__|length > 1 %}
        <button class="plugin-header-item" onclick="showPluginSize('{{ plugin.id }}')">size</button>
        {% endif %}
        <button class="plugin-header-item" onclick="removePlugin('{{ plugin.id }}')">remove</button>
    </div>
    <div class="plugin-content">
        {{ plugin.render_small() | safe }}
    </div>
</div>
{% endmacro %}
