div.content {
    position: relative;
    z-index: 1;
}

div.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.floating {
    position: absolute;
    visibility: collapse;
    padding: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
}

div.plugin-content {
    overflow: auto;
}

div.plugin-small {
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

div.plugin-wide {
    width: 820px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

div.plugin-tall {
    width: 400px;
    height: 820px;
    margin-left: 20px;
    margin-right: 20px;
}

div.plugin-big {
    width: 820px;
    height: 820px;
    margin-left: 20px;
    margin-right: 20px;
}

div.plugin-header {
    display: inline-block;
}

.plugin-header-item {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#add-plugin-menu ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px;
}

.plugin-menu-item {
    padding: 5px;
    border-style: solid;
}

.admin-table, .admin-table th, .admin-table td {
    border: 1px solid black;
}
